/* aligns text to center for enitre page  */
/* and background image */

html{
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),      
	url(../images/bg2.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* adds background image */
/* body{
   
	
} */


/*  nav bar styling */

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* remove underline from text */
a{
    text-decoration: none;
    color: white;
}

.logo {
	margin: 0;
	font-size: 1.5em;
}

#nav {
	margin-top: 5px;

}

.logo a,
#nav a {
	padding: 10px 30px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

#nav a {
	color: white;
	font-size: 1.5em;
}

#nav a:hover {
	color: #718daa;
}



#header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #797777;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* style for the title */

h1 {
    font-size: 60px;
    background-color: #427D9D;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 15px;
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
    border: none;
}

/* style for the button */
input{
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: #427D9D;
    padding: 25px;
    display: inline-block;
    margin-top: 50px;
    font-size: 25px;
}

input:hover{
    opacity: 0.8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	#header,
	#nav {
		display: flex;
	}
	#header {
		flex-direction: column;
		align-items: center;
    	#header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	#header {
		flex-direction: row;
		justify-content: space-between;
	}

}
