html{
	text-align: center;
}

body{
	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),      
	url(/static/images/pill7.jpg) center center no-repeat;
	   background-size: cover;
	   background-attachment: fixed;
}

/* upload image */

.mb-5{
	text-align: center;
	font-size: 60px;
    background-color: #a7c0d6;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 15px;
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
	margin-top: 15px;
    border: none;
}

/* submit and recognize button */


.form-controls{
	align-items: center;
	border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #b99561;
    display: inline-block;
    margin: 5px;
    font-size: 25px;
}	


.btn-success{
	align-items: center;
	border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #b99561;
    display: inline-block;
    margin: 5px;
    font-size: 25px;
}


/* nav bar style start */

.logo {
	margin: 0;
	font-size: 1.5em;
}

#nav {
	margin-top: 5px;

}

.logo a,
#nav a {
	padding: 10px 30px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	text-decoration: none;
	color: black;
}

#nav a {
	color:black;
	font-size: 1.5em;
}

#nav a:hover {
	color: #718daa;
}


#header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f3d0aa;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	#header,
	#nav {
		display: flex;
	}
	#header {
		flex-direction: column;
		align-items: center;
    	#header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	#header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* nav bar styel end */