/* aligns all items to center of the page */
html{
    text-align: center;
	scroll-behavior: smooth;
}

/* background image */
body{
    background: Linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
	url(../images/resulst2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
	
}


/* title style */
h1 {
    font-size: 60px;
    background-color: #427D9D;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 10px;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
	margin-top: 15px;
    border: none;
}


/* style nav bar */
.logo {
	margin: 0;
	font-size: 1.5em;
}

/* remove underline from links */
a {
    text-decoration: none;
}

.logo a{
	text-decoration: none;
}

#nav {
	margin-top: 5px;

}

.logo a,
#nav a {
	padding: 10px 30px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

#nav a {
	color: #000000;
	font-size: 1.5em;
    text-decoration: none;
}

#nav a:hover {
	color: #718daa;
}


#header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #0050ae;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* style for the printed results */
h2{
	font-size: 1.5em;
	background-color: #427D9D;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 10px;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
	margin-top: 15px;
    border: none;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	#header,
	#nav {
		display: flex;
	}
	#header {
		flex-direction: column;
		align-items: center;
    	#header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	#header {
		flex-direction: row;
		justify-content: space-between;
	}

}