<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel="stylesheet" href="../static/css/credits.css">
    <script src="https://kit.fontawesome.com/908d1655d0.js" crossorigin="anonymous"></script>

</head>
<body>
     <!-- nav bar start -->
    <div id = "header">
        <div class="logo">
            <img src="../static/images/Pill Logo 1.png" width="50" height="50">
            <a href="{{ url_for('index')}}">The Pill Detective</a>
        </div>
            <div id="nav">
                <a href="{{ url_for('index')}}" >Home</a>
                <a href="{{ url_for('chart')}}" >Chart</a>
                <a href="{{ url_for('predict')}}" >Predict</a>
               
        </div>
    </div>

    <hr>
     <!-- nav bar end -->   

    <!-- body sections start -->
    <h1 class="team-title">The Team</h1>
    <div class="container">
        
        <div class="items">
            <div class="profile-card">
                <h1 class="name">Evan</h1>
                <p>about me</p>
                <div class="icons">
                    <a class="icon gt" href="https://github.com/Emichi25" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="linkedin">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="profile-card">
                <h1 class="name">Jonathan</h1>
                <p>about me</p>
                <div class="icons">
                    <a class="icon gt" href="https://github.com/jccrock311" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="linkedin" href="https://www.linkedin.com/in/jonathan-carmichael-a2b051b9/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="profile-card">
                <h1 class="name">TJ Davis</h1>
                <p>about me</p>
                <div class="icons">
                    <a class="icon gt" href="https://github.com/TJDavis91" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="linkedin" href="" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="profile-card">
                <h1 class="name">Uzma</h1>
                <p>about me</p>
                <div class="icons">
                    <a class="icon gt" href="https://github.com/UzmaSayyeda" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="linkedin" href="https://www.linkedin.com/in/uzma-sayyeda/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="profile-card">
                <h1 class="name">Yelimi</h1>
                <p>about me</p>
                <div class="icons">
                    <a class="icon gt" href="https://github.com/jy-l1997" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="linkedin" href="" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
   
    <!-- project overview -->
    <div class="overview">
        <h1 class="overview-title">Project Overview</h1>
        <p class="ov-para">
            The primary goal of this project is to utilize machine learning to analyze and identify pill images
            based off image files submitted by a user to our web application. 
            To achieve this objective, we have developed a web application 
            that integrates an optimized machine learning model. This application is designed 
            for use by people in the medical profession as well as anyone who has to take medications 
            regularly to help identify medications.

        </p>
    </div>
    <!-- references -->
    <div class="references">
        <h1 class="references-title">References</h1>

        <ol><a  href="https://www.jmir.org/2023/1/e41043" target="_blank">Research Paper <i class="fa-solid fa-square-arrow-up-right"></i></a></ol>

        <ol><a href="https://towardsdatascience.com/deep-learning-model-training-loop-e41055a24b73" target="_blank">Model Optimization <i class="fa-solid fa-square-arrow-up-right"></i></a></ol>

        <ol><a href="https://github.com/jnliou/project4" target="_blank">GitHub #1 <i class="fa-solid fa-square-arrow-up-right"></i></a></ol>

        <ol><a href="https://github.com/alphiephalphie/RxVision" target="_blank">GitHub #2 <i class="fa-solid fa-square-arrow-up-right"></i></a></ol>

        <ol><a href="#" target="_blank"></a>5 <i class="fa-solid fa-square-arrow-up-right"></i></i></ol>

        <ol><a href="#" target="_blank"></a>6 <i class="fa-solid fa-square-arrow-up-right"></i></ol>

        <ol><a href="#" target="_blank"></a>7 <i class="fa-solid fa-square-arrow-up-right"></i></ol>

        <ol><a href="#" target="_blank"></a>8 <i class="fa-solid fa-square-arrow-up-right"></i></ol>
       
 
    <!-- body sections end -->
    <br>
    <br>
    <br>
    <!-- footer -->
    <div class="footer">
        <p>Capstone Project for SMU Data Analytics Boot Camp.</p>
        <p>©2023, All Rights Reserved.</p>
    </div>


</body>
</html>