<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel="stylesheet" href="../static/css/credits.css">
</head>
<body>
     <!-- nav bar start -->
    <div id = "header">
        <div class="logo">
            <img src="../static/images/Pill Logo 1.png" width="50" height="50">
            <a href="{{ url_for('index')}}">The Pill Detective</a>
        </div>
            <div id="nav">
                <a href="{{ url_for('index')}}" >Home</a>
                <a href="{{ url_for('chart')}}" >Chart</a>
                <a href="{{ url_for('predict')}}" >Predict</a>
               
        </div>
    </div>

    <hr>
     <!-- nav bar end -->   

    <!-- body sections start -->
    <h1 style='float:left; width:44%'>GitHub Links</h1>
    <h2 style='float:left; width:50%; margin-left:30px'>References</h2>
    
    <div style='float:left; width:44%'>
        <p><a href="https://github.com/jccrock311" id="style-2" data-replace="Jonathan Carmichael"><span>Jonathan Carmichael</span></a></p>
        <p><a href="https://github.com/TJDavis91" id="style-2" data-replace="TJ Davis"><span>TJ Davis</span></a></p>
        <p><a href="https://github.com/jy-l1997" id="style-2" data-replace="Yelimi Lee"><span>Yelimi Lee</span></a></p>
        <p><a href="https://github.com/Emichi25" id="style-2" data-replace="Evan Michigan"><span>Evan Michigan</span></a></p>
        <p><a href="https://github.com/UzmaSayyeda" id="style-2" data-replace="Uzma Sayyada"><span>Uzma Sayyada</span></a></p>
        <p>
    </div>

    <div style='float:left; width:50%; margin-left:60px'>
        
    </div>
    <!-- body sections end -->

    <!-- footer -->
    <div class="footer">
        <p>Capstone Project for SMU Data Analytics Boot Camp.</p>
        <p>©2023, All Rights Reserved.</p>
    </div>


</body>
</html>