<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">

</head>
<body>
    <!-- nav bar start -->
    <div id = "header">
        <div class="logo">
            <img src="../static/images/Pill Logo 1.png" width="50" height="50">
            <a href="">The Pill Detective</a>
        </div>
            <div id="nav">
                <a href="{{ url_for('chart')}}" target="_blank">Chart</a>
                <a href="{{ url_for('predict')}}">Predict</a>
                <a href="{{ url_for('credit')}}">Credits</a>
        </div>

    </div>

    <hr>
    <!-- nav bar end -->

    <!-- button for prediction -->
    <h1 class="header-text">
        Need to Identify a Pill?
    </h1>
   
    <form action = "predict">
        <input type = "submit" value = "Let's go">
    </form>
     <!-- button for prediction -->
<hr>
     <!-- footer -->
    <div class="footer">
        <p>Capstone Project for SMU Data Analytics Boot Camp.</p>
        <p>©2023, All Rights Reserved.</p>
    </div>

</body>
</html>