<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">

</head>
<body>

    <div id = "header">
        <div class="logo">
            <img src="../static/images/Pill Logo 1.png" width="50" height="50">
            <a href="#">The Pill Detective</a>
        </div>
            <div id="nav">
                <a href="{{ url_for('chart')}}" target="_blank">Chart</a>
                <a href="{{ url_for('predict')}}" target="_blank">Predictions</a>
                <a href="#">Credits</a>
        </div>

    </div>

    <hr>

    <h1 class="header-text">
        Need to Identify a Pill?
    </h1>
   
    <form action = "predict">
        <input type = "submit" value = "Let's go">
    </form>

</body>
</html>